<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${errors}" class="margin-bottom alert-danger"></div>
    <form action="#" th:action="@{/gsmworker/{id}(id=${id})}" th:object="${gsmworkerDto}" method="post">
        <div class="mb-3">
            <label for="IdWorker" class="form-label">ID рабочего</label>
            <input type="text" class="form-control" id="IdWorker" th:field="${gsmworkerDto.IdWorker}" required="true">
        </div>
        <div class="mb-3">
            <label for="IdGSM" class="form-label">ID ГСМ</label>
            <input type="text" class="form-control" id="IdGSM" th:field="${gsmworkerDto.IdGSM}" required="true">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
            </button>
            <a class="btn btn-secondary button-fixed" th:href="@{/gsmworker}">
                Назад
            </a>
        </div>
    </form>
</div>
</body>
</html>